<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css" type="text/css" media="all" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600,500;1,400;1,500&display=swap" rel="stylesheet">

	<script src="{{ .Site.BaseURL }}compatibility.js" defer></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ template "_internal/google_analytics.html" . }}
</head>

<body>

<nav {{ if .Site.Params.fixedNavBar }} fixed {{ end }}>
	<a href="/">{{ .Site.Title }}</a>

	{{ $currentPage := . }}
	{{ range .Site.Menus.main.ByWeight }}
		<a href="{{ .URL }}" {{ if ($currentPage.IsMenuCurrent "main" .) }}current{{ end }}>{{ .Name }}</a>
	{{ end }}
</nav>

{{ if .Description | or .Params.image }}
	<header {{ if .Description }} dark {{ end }}>
		{{ if .Params.image }}
			{{ $image := resources.GetMatch .Params.image }}
			{{ if $image }}
				{{ $image := $image.Resize "1920x" }}
				<img
					src="{{ $image.Permalink }}"
					style="--y-position: {{ .Params.imagePosition }}%;">
			{{ else }} {{ errorf "Cannot find header image `%s`" .Params.image }} {{ end }}
		{{ end }}
		<h1
			style="
			--left: {{ .Params.descriptionLeft }}vw;
			--right: {{ .Params.descriptionRight }}vw">
		{{ .Description }}</h1>
	</header>
{{ end }}

<main>
